<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document Table</title>
</head>
<body>
  <main>
    <table>
      <thead>
       <tr>
        <% headerTable.forEach(elementHead => { %>
          <td><%- elementHead  %> </td>
         <% }) %>
       </tr>
      </thead>
      <tbody>
        <% bodyTable.forEach(elementBody => { %>
          <tr>
            <% elementBody.forEach(element => { %>
             <td><%-element%></td>
            <% }) %>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </main>
</body>
</html>